<!--Footer-->
<footer class="page-footer indigo darken-2 text-center text-md-left pt-4">
    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <contact-form></contact-form>
            </div>

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 col-md-offset-1">
                <h5 class="title">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/page/projects">Projects</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a href="mailto:drew@drewswanner.com" class="btn" mdbWavesEffect><i class="fa fa-envelope left"
                        aria-hidden="true"></i> Email</a>
            </li>
            <li class="list-inline-item">
                <a href="https://facebook.com/drewski121" class="btn" mdbWavesEffect><i class="fa fa-facebook left"
                        aria-hidden="true"></i> Facebook</a>
            </li>
            <li class="list-inline-item">
                <a href="https://stackoverflow.com/users/5450532/andy-swanner" class="btn" mdbWavesEffect><i
                        class="fa fa-stack-overflow left" aria-hidden="true"></i> Stack Overflow</a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/drewswanner" class="btn" mdbWavesEffect><i class="fa fa-github left"
                        aria-hidden="true"></i> Github</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.reddit.com/user/drewswanner" class="btn" mdbWavesEffect><i
                        class="fa fa-reddit-alien left" aria-hidden="true"></i> Reddit</a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2020 Copyright Drew Swanner
        </div>
    </div>
</footer>
<!--/.Footer-->